.FacilityNavBar {
    margin-top: 40px !important;
    width: fit-content;
    /* background-color: rgb(244, 226, 124) !important;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: none;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    border-bottom: 1px solid black;
    border-radius: 0px;

}

.FacilityLink,
.FacilityLink1 {
    margin: 5px !important;
    margin-bottom: 0px !important;
    color: black !important;
    font-size: 16px;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    padding-bottom:0px;
}

.FacilityLink:first-letter,
.FacilityLink1:first-letter {
    font-size: 22px;
}

#userDashboardTitle {
    font-size: 50px;
    font-weight:bolder;
    margin: 0px;
    letter-spacing: 2px;
    margin-left: 15px;
    text-align: center;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

#userDashboardTitle:first-letter {
    font-weight: bolder;
    font-size: 52px;

}

.FacilityNavBar .active {
    background-color: rgb(247, 236, 172) !important;
    border-bottom: 5px solid rgb(89, 81, 42);
    color: black !important;
}

.FacilityLink:hover,
.FacilityLink1:hover {
    background-color: rgb(185, 183, 176);
    color: black !important;

}

.navbarLink {
    display: flex;

    justify-content: center;
}

.NotificationLinkItem {
    display: none;
}

.userNotificationDivItem1 {
    width: 80% !important;
    margin-left: 10%;
}



@media (max-width: 1000px) {
    .NotificationLinkItem{
        display: inherit;
    }

    .userNotificationDivItem {
        display: none;
    }

}

@media (min-width:1000px) {
    .userNotificationDivItem1{
        display: none;
    }
}