.FacilityNavBar{
    margin-top: 40px !important;
     width: 80%;
     /* background-color: rgb(244, 226, 124) !important;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
     box-shadow:none ;
     display: flex;
     flex-direction: row;
     justify-content: center;
     border-bottom: 1px solid black;
     border-radius: 0px;    
     margin: 0 auto;
     
 }
 
 .FacilityLink, .FacilityLink1{
   margin: 5px !important;
   color: black !important ;
   font-size: 16px;
   flex-grow: 1;
            flex-basis: 0;
            min-width: 0;
 }
 .FacilityLink:first-letter, .FacilityLink1:first-letter{
     font-size: 22px;
 }
 
 #userDashboardTitle{
     font-size: 35px;
     font-weight: bolder;
     margin: 0px;
     letter-spacing: 2px;
     margin-left: 15px;
 }
 
 #userDashboardTitle:first-letter{
     font-weight: bolder;
     font-size: 35px;
     
 }
 
 .FacilityNavBar .active{
     background-color: rgb(209, 197, 130) !important;
     color: black !important;
 }
 
 .FacilityLink:hover, .FacilityLink1:hover{
    background-color: rgb(185, 183, 176);
    color: black !important;
 }

 .navbarLink{
  display: flex;

  justify-content: center;
 }

