@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.MeetingHeader {
  text-align: center;
  font-weight: bold;
  margin: 8px;
  font-size: 25px;
  color: #675a0e;
  letter-spacing: 2px;
}

.MeetingHeader:first-letter {
  font-size: 40px;
  font-weight: normal;
}

.MeetingItems {
  position: absolute;
  margin: auto;
  margin-left: 50px;
  width: 50%;
  min-height: max-content;
  max-height: 100%;
  overflow-y: scroll;
  border: 2px solid gray;
  /*background-color: #edf6f7;*/
  background-color: whitesmoke;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.NotifyBar {
  padding: 20px !important;
  background-color: #eae7d1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  color: black !important;
  border-color: gold !important;
  border-width: 1px !important;
}


.NotifyBar {
  text-align: left;
  width: 94%;
  margin-left: 3%;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 15px;
  border-radius: 10px;
  letter-spacing: 1px;
  transition: 0.5s;
}

.NotifyBar:hover {
  color: white !important;
  background-color: #3f3f3e !important;
  transform: scale(1.05);
  border: 1px solid #3f3f3e !important;
}

.ModalNotify {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}


#DateofMeeting {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  border: 1px solid black !important;
}

#Date {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;

}

#host {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;

}



#time {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

#TimeofMeeting {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  border: 1px solid black !important;
}

#linkOfMeeting,
#hostOfMeeting,
#linkOfMeeting {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.linkDiv {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

#host {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.inputEditable {
  width: 90%;
}

.TabSwitch {
  letter-spacing: 1px;
  font-size: 18px;
}



.Active {
  border: 5px solid #675a0e ;
  background-color: rgb(220, 219, 216);
  
}


@media (max-width: 1000px) {
  .MeetingItems{
    width: 80% !important;
    margin-left: 10%;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #675a0e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.MoreButton{
   font-size: 16px ;
   padding: 10px; 
   letter-spacing: 1px;
    border: 3px solid #675A0E ;
    margin: 20px;
}

.MoreButton:Hover{
  background-color: #675A0E;
  color: white;

}

