.forgotPasswordContainer {
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.forgotPasswordBox {
  background-color: white;
  background-color: rgb(255, 254, 246);
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  overflow: hidden;
}

.forgotPasswordHeading {
  text-align: center;
  color: black;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 22px;

}

.forgotPasswordHeading::first-letter {
  font-size: 30px;
  font-weight: normal;
}

.forgotPasswordForm {
  margin: 20px;

}

.ForgotPasswordInput {
  width: 80%;
  padding: 10px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 10%;
  letter-spacing: 1px;
}

.ForgotPasswordLabel {
  font-size: 18px;
  font-weight: normal;
  color: black;
  letter-spacing: 1.5px;
  margin-top: 20px;
  margin-left: 10%;
  margin-bottom: 5px;
}

.forgotPasswordButton {
  border: none;
  background-color: white;
  border: 3px solid #675A0E;
  color: #675A0E;
  width: 100%;
  padding: 10px;
  height: 50px;
  width: 60%;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-weight: normal;
  margin-top: 30px;
  margin-left: 20%;
  margin-bottom: 20px;
}

.forgotPasswordButton:hover {
  background-color: #675A0E;
  border: 3px solid #675A0E;
  color: white !important;
}

@media screen and (max-width: 800px) {
  .forgotPasswordBox {
    width: 90%;
  }

  .forgotPasswordButton {
    width: 90%;
    margin-left: 5%;
  }
}