@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
 font-family: 'Montserrat', sans-serif;
}


#User, #register, #Menu{
  margin-left: 60px;
  border-radius : 2px;
  color : #c6b65d;
  padding : 5px;
  text-decoration: none;  
  text-transform : uppercase;
  font-weight: bold;
  font-size : 12px;
  letter-spacing: 1.5px;
}
#User:first-letter, #register:first-letter, #Menu:first-letter{
  font-size : 16px;
}
#User:hover,#register:hover, #Menu:hover{
  color: #c6c6c6 ;
  font-weight: bold;
  /* transform: scale(1.05); */
  /* border-bottom : 1px solid #c6c6c6; */
}

#User:after, #register:after, #Menu:after {
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0 #c6c6c6;
  content: "";
  display: block;
  height: 1px;
  width: 0px;
}
#User:hover:after, #Menu:hover:after, #register:hover:after {
  width: 100%;
}

#nav-container {
  position:fixed !important;
  top:0 !important;
  width: 100% !important;
  z-index: 100 !important;
}

#MeridianLogo{
  height: 35px;
  width: 130px;
}
.NavClass{
  margin-left: auto; 
  margin-right: 0;
  align-items: right;
}
