.sideLines {
  /* width: 47%; */
  /* background-color: rgb(121, 120, 117); */
  background-color: rgb(110, 97, 29);
  height: 2px;
  overflow: hidden;
  margin-top: 24px;
}

.StaffTitleDiv{
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top:100px;
   width: 100%;         
}

.linesright{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.displayUsers{
  display: grid; 
  grid-template-columns: auto auto;
}

.DisplayCard{
  display: flex;
  width: 90%;
  height: 270px;
  border-radius:10px;
  background-color:whitesmoke;
  margin-top:50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 20px;
  /* margin-left: 10%; */
  border: 1px solid white;
}

.DisplayCard:hover{
  border: 1px solid black;
  background-color: rgb(209, 209, 209);
}

.StaffLabel{
  font-size: 16px;
  text-transform: capitalize;
  /* font-weight: bold; */
  text-decoration-line: underline;
  text-underline-offset: 10px;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  text-transform: capitalize;
  letter-spacing: 1px;
  color:rgb(94, 82, 16);
  margin-top: 10px;
}

.StaffValue{
  margin-left: 20px;
  font-size: 15px;
  color:black;
}

.staffButton{
  margin-top: 50px;
  margin-bottom: 30px;
  
}

.DeleteButton{
  color: black !important;
  background-color: whitesmoke !important;
  border: 3px solid black;
  margin-top: -30px;
}

.addStaff{
  color: black !important;
  background-color: whitesmoke !important;
  border: 3px solid black;
}
.editButton{
  color: black !important;
  background-color: whitesmoke !important;
  border: 3px solid black;
  margin-top: -30px;
}


.editButton:hover{
  color: white !important;
  background-color: rgb(44, 141, 135) !important;
  border: 2px solid black !important;
  transform: scale(1.05);
  
}

.DeleteButton:hover{
  color: white !important;
  background-color: rgb(203, 59, 59) !important;
  border: 2px solid black !important;
  transform: scale(1.05);
  transition: 0s;
}

.StaffRole{
  height: 30px;
  margin-left: 30px;
  margin-top: 10px;
  padding: 4px;
  width: 40%;
  background-color: whitesmoke;
  border: 1.2px solid black;
}

.addStaff:hover{
color: black !important;
background-color: rgb(230, 214, 115) !important;
border: 3px solid black !important;

}

.invisible{
  display: none;
}

.AddStaffDiv{
  margin-left: 20%;
  /* border: 1px solid  gray; */
  display:flex;
  justify-content: center;
  margin-top: 30px;
  width: 60%;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  
}

.AddStaffNote{
  font-size: 20px;
  margin-top: 10px;
}

.staffInput{
  width: 60%;
  padding: 10px;

}

.hide{
  display: none;
}

.move-top {
  position: fixed;
  bottom: 50px;
  right: 100px;
  /* display: none; */
  padding: 10px 15px;
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 16px;
  background: rgb(219, 206, 128);
  border: 1px solid black;
}

.move-top:hover{
  color: black;
  transform: scale(1.05);

}