@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}


#Menu,
#LoginDropdown {
  margin-left: 60px;
  border-radius: 2px;
  color: #c6b65d;
  font-weight: bold;
  padding: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.5px;
}
#LoginDropdown{
  font-weight: normal;
}

.loginDropDownMenu {
  font-size: 12px;
  color: #c6b65d;
  padding-left: 10px;
  letter-spacing: 1.5px;
  font-weight: bold;
}

#Menu:first-letter,
#LoginDropdown:first-letter,
.loginDropDownMenu:first-letter {
  font-size: 16px;
}

#LoginDropdown:hover {
  color: #c6c6c6 !important;
  font-weight: bold !important;
  
  border-bottom: 1px solid #c6c6c6;
}



.ProfileDiv:hover,
.loginDropDownMenu:hover {
  background-color: #c6b65d;
  font-weight: bolder;
  color: black;
}


#nav-container {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 100 !important;
}

#MeridianLogo {
  height: 35px;
  width: 130px;
}

.NavClass {
  margin-left: auto;
  margin-right: 0;
  align-items: right;
}
